@import url("https://fonts.googleapis.com/css?family=Voltaire");

* {
  box-sizing: border-box;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dbe6e6;
  overflow: hidden;
}

#gameoverInstructions {
  position: absolute;
  font-family: "Voltaire", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(40px, 15vw, 120px);
  text-align: center;
  color: #ffc5a2;
  opacity: 0;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  transform: translate(-50%, -100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 500ms ease-in-out;
  pointer-events: none;
  z-index: 10;
}

#gameoverInstructions.show {
  opacity: 1;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

#dist {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.label {
  position: relative;
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
  color: #ffa873;
  font-size: clamp(10px, 2vw, 12px);
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
}

#distValue {
  position: relative;
  text-transform: uppercase;
  color: #dc5f45;
  font-size: clamp(24px, 6vw, 40px);
  font-family: "Voltaire";
  text-align: center;
}

#instructions {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  margin-bottom: 20px;
  font-family: "Voltaire", sans-serif;
  color: #dc5f45;
  font-size: clamp(14px, 3vw, 16px);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.lightInstructions {
  color: #5f9042;
  display: block;
  margin-top: 5px;
}

@media screen and (min-width: 600px) {
  .lightInstructions {
    display: inline;
    margin-top: 0;
  }
}

#credits {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
  font-family: "Voltaire", sans-serif;
  color: #544027;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
}

#credits a {
  color: #544027;
}

#credits a:hover {
  color: #dc5f45;
}